<% provide(:title,'About') %>

<h1>About</h1>

<p>
	This website was made by CollectionOfAtoms using Ruby on Rails.

	<br><br>

	This website was requested by Kit himself to make easier the burden on the user when using the Kitfinity deck in Solforge by keeping track of leveled cards and calculating the probability of going infinite.

	<br><br>

	CollectionOfAtoms gives full permission to use and re-destribute this code to your hearts content.

	<br><br>

	If you have any questions, suggestions, or dick-pics please email me at <a href="mailto:CollectionOfAtoms@gmail.com?Subject=Kitfinity%20Support" target="_top"> CollectionOfAtoms@gmail.com </a>
</p>
