<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2> In case you couldn't find it on another page </h2>
<p>
	Have a question, comment, concern, or just feeling lonely? <br>
	Feel free to email me at <a href="mailto:CollectionOfAtoms@gmail.com?Subject=Kitfinity%20Support" target="_top"> CollectionOfAtoms@gmail.com </a>
</p>
