<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>
	As of right now there's not much of a website to support.
	If you find a bug or a misbehavior please contact me at 
	<a href="mailto:CollectionOfAtoms@gmail.com?Subject=Kitfinity%20Support" target="_top"> CollectionOfAtoms@gmail.com </a>
</p>

